.reset-password-data-label,.msg-modal,.msg-modal-title{
    color: #000;
}


.bg-reset-password-image {
    background: url(../../images/resetPassword-image.png);
    background-position: center;
    background-size: cover;
  }