.bg-add-new-car-service-image {
    background: url(../../images/addNewCarService-image.png);
    background-position: center;
    background-size: cover;
}
.msg-modal,.msg-modal-title{
    color: black;
}