.backgroundimg {
    background-image: url(../../images/home-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

#Home {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#Home .buttons-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1%;
}

#Home .main-title {
    font-size: calc(5px + 5vmin);
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
}